deep-translator
ffmpeg-progress-yield
openai-whisper
pysrt
torch
torchaudio<2.9
tqdm
whisper
vidqa
gemini-srt-translator
google-generativeai
yt-dlp
git+https://github.com/xvictorlopes/whisperx-ppcaptions-fork.git